[Desktop Entry]
Version=1.1
Type=Application
Name=TokenTacticsV2
Comment=Azure JSON Web Token Manipulation Toolset
Icon=/usr/share/pwncloudos/icons/PwnCloudOS-icon.png
Exec=xfce4-terminal --hold --command "/opt/ps_tools/TokenTacticsV2/TokenTactics_Launcher.sh"
Terminal=true
Actions=
Categories=X-XFCE;X-Xfce-Toplevel;menulibre-azure;
